@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Philosopher:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mobile-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  margin: 0;
}

.mobile-nav-bar .mobile-nav-bar__logo {
  color: white;
  position: absolute;
  left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  opacity: 0.7;
}

.mobile-nav-bar.home {
  background: transparent;
}

.menu-btn {
  position: absolute;
  margin: 0.2rem;
  top: 1.25rem;
  right: 1rem;
  height: 1rem;
  width: 2rem;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
}

.menu-btn__burger {
  transition: all 0.5s ease-in-out;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 0.1rem;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn__burger.open {
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: translate(0, 0.5rem) rotate(45deg);
}

.menu-btn__burger.open::after {
  transform: translate(0, -0.5rem) rotate(-45deg);
}

.nav {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  transform: translateY(-200vh);
  opacity: 1;
  z-index: 9;
}

.nav.open {
  transform: translateY(0);
}

.nav .nav__menu {
  position: absolute;
  top: 0;
  margin: 2.5rem auto 0 auto;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  line-height: 2;
}

.nav .nav__menu__item {
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 1;
}

.nav .nav__menu__item__link {
  color: rgba(255, 255, 255, 0.5);
}

.nav .nav__menu__item__link.active {
  color: white;
}

.nav .nav__menu__item__link.logo {
  font-weight: bold;
  display: none;
}

.home {
  width: 100vw;
  max-height: 100vh;
}

.home-splash {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 0;
}

.home-splash h2 {
  font-size: 3rem;
}

.home-splash h3 {
  font-size: 1.5rem;
}

.home-splash h4 {
  font-size: 1.5;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-top: 0.2rem;
  padding: 0.25rem;
  border-top: 1px solid white;
}

.home-splash video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.home-splash .home-splash__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  mix-blend-mode: overlay;
}

.home-splash .home-splash__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100vw;
  height: 6rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer .social-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .social-icons .fab {
  transition: all 0.5s ease-in-out;
  color: white;
}

footer .social-icons .fab:hover {
  opacity: 0.5;
}

footer .copy {
  color: white;
  width: 100%;
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
}

.about {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.about-heading {
  background: white;
  margin-top: 3rem;
  position: relative;
  top: 0;
  left: 0;
  height: 65vh;
  width: 100%;
}

.about-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.about-heading .about-heading__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
  background: black;
}

.about-heading .about-heading__info {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-heading .about-heading__info h2 {
  font-size: 1.5rem;
}

.about-heading .about-heading__info p {
  font-size: 1rem;
  text-align: center;
  padding: 0 0.5rem;
  line-height: 1.1;
}

h2,
h3 {
  text-align: center;
  padding: 0.5rem;
}

.alt-text {
  color: #76f186;
}

.skills-tech {
  margin: 1rem auto;
  width: 90vw;
}

.skills-tech .skills-tech__heading {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-weight: normal;
}

.skills-tech__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  z-index: 0;
}

.skills-tech__grid .skills-tech__grid__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
}

.skills-tech__grid .skills-tech__grid__card i {
  padding-top: 1rem;
  transform: scale(1.5);
  margin-bottom: 1.9rem;
}

.skills-tech__grid .skills-tech__grid__card img {
  transform: scale(0.9);
  margin: 0.75rem 0;
  width: 50%;
  object-fit: cover;
}

.skills-other {
  width: 80%;
  margin: 0 auto 1rem auto;
}

.skills-other .skills-other__heading {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  font-weight: normal;
  margin-top: 1rem;
}

.skills-other .skills-other__skill {
  margin: 1.5rem auto 0.5rem auto;
  text-align: center;
  font-size: 1.1rem;
}

.projects {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.projects-heading {
  background: white;
  margin-top: 3rem;
  position: relative;
  top: 0;
  left: 0;
  height: 65vh;
  width: 100%;
}

.projects-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.projects-heading .projects-heading__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
  background: black;
}

.projects-heading .projects-heading__info {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-heading .projects-heading__info h2 {
  font-size: 1.5rem;
}

.projects-heading .projects-heading__info p {
  font-size: 1rem;
  text-align: center;
  padding: 0 0.5rem;
  line-height: 1.1;
}

.project-grid {
  width: 90%;
  margin: 2rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.5rem;
}

.project-card {
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 85vw;
  height: 55vh;
  margin: auto;
}

.project-card:hover {
  cursor: pointer;
}

.project-card .project-card__title {
  margin: 0 auto;
}

.project-card .project-card__div {
  position: relative;
  width: 100%;
  height: 50vh;
}

.project-card .project-card__div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .project-card__div div {
  position: absolute;
  top: 53%;
  left: 0;
  width: 100%;
  height: 9.4rem;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
  -moz-filter: brightness(60%);
  -ms-filter: brightness(60%);
  -o-filter: brightness(60%);
}

.project-card .project-card__div p {
  position: absolute;
  line-height: 1.2;
  top: 58%;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  padding: 0 0.5rem;
  z-index: 0;
}

.project-card .project-card__div p button {
  width: 6.5rem;
  height: 2.5rem;
  font-size: large;
  font-weight: bold;
  margin: 0.3rem 0.5rem;
  border: 0;
  background: white;
  color: black;
}

.project-card .project-card__div p button:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 0.5rem #000;
  background: gray;
  color: white;
}

.contact {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.contact-heading {
  background: white;
  margin-top: 3rem;
  position: relative;
  top: 0;
  left: 0;
  height: 65vh;
  width: 100%;
}

.contact-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contact-heading .contact-heading__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 0;
  background: black;
}

.contact-heading .contact-heading__info {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-heading .contact-heading__info h2 {
  font-size: 1.5rem;
}

.contact-heading .contact-heading__info p {
  font-size: 1rem;
  text-align: center;
  padding: 0 0.5rem;
  line-height: 1.1;
}

.contact-grid {
  width: 90%;
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

.contact-card {
  width: 25vw;
  height: 10vh;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
}

.contact-card a img {
  transform: scale(0.8);
  width: 85%;
  object-fit: cover;
}

.contact-card a .fa:hover {
  opacity: 0.7;
}

.contact-card img {
  transform: scale(0.8);
  width: 50%;
  object-fit: cover;
}

@media screen and (min-width: 360px) {
  .about-heading .about-heading__info p {
    padding: 0 0.7rem;
  }
  .skills-tech__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(1);
  }
  .project-grid {
    gap: 2rem;
  }
  .project-card {
    height: 50vh;
    margin-bottom: 1rem;
  }
  .project-card .project-card__div {
    height: 42vh;
  }
  .project-card .project-card__div div {
    height: 7.75rem;
    top: 56%;
  }
  .project-card .project-card__div p {
    padding: 0 0.1rem;
  }
  .project-card .project-card__div p button {
    width: 8rem;
  }
}

@media screen and (min-width: 412px) {
  .about-heading .about-heading__info p {
    padding: 1rem;
  }
  .project-grid {
    gap: 2rem;
  }
  .project-card .project-card__div div {
    height: 8rem;
    top: 58%;
  }
  .project-card .project-card__div p {
    top: 62.5%;
    padding: 0 0.1rem;
  }
  .project-card .project-card__div p button {
    width: 8rem;
  }
}

@media screen and (min-width: 758px) {
  .menu-btn {
    transform: scale(1.25);
    top: 2rem;
    right: 1.5rem;
  }
  .mobile-nav-bar {
    height: 4.25rem;
  }
  .nav {
    font-size: 3rem;
  }
  .nav .nav__menu {
    margin-top: 2rem;
  }
  .home-splash h2 {
    font-size: 5rem;
  }
  .home-splash h3 {
    font-size: 2.5rem;
  }
  .home-splash h4 {
    margin-top: 0.75rem;
    font-size: 1.75rem;
    letter-spacing: 0.2rem;
  }
  footer .social-icons {
    width: 40vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  footer .social-icons .fab {
    transform: scale(0.9);
    margin: 0 3rem;
  }
  footer .copy {
    font-size: 1rem;
  }
  .about-heading .about-heading__info p {
    padding: 0 1.5rem;
  }
  .skills-tech .skills-tech__heading {
    font-size: 1.5rem;
  }
  .skills-tech__grid {
    padding-top: 1rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    margin-bottom: 0;
  }
  .skills-other .skills-other__heading {
    font-size: 1.5rem;
  }
  .skills-other .skills-other__skill {
    font-size: 1.1rem;
  }
  .projects {
    margin-top: 1rem;
  }
  .project-grid {
    margin-top: 2.5rem;
    gap: 7.55rem;
  }
  .project-card {
    margin-bottom: 0;
  }
  .project-card .project-card__title {
    font-size: 1.25rem;
  }
  .project-card .project-card__div {
    height: 20rem;
  }
  .project-card .project-card__div div {
    top: 66%;
  }
  .project-card .project-card__div p {
    top: 68%;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.29rem;
  }
  .project-card .project-card__div p button {
    width: 18rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .contact {
    margin-top: 1rem;
    height: 100vh;
  }
  .contact-grid {
    margin-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  .contact-card i {
    transform: scale(1.5);
    padding: 0.75rem;
  }
  .contact-card a i {
    transform: scale(0.9);
    padding: 0.75rem;
  }
  .contact-card span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-nav-bar {
    display: none;
  }
  .nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    transform: translateY(0);
  }
  .nav .nav__menu {
    position: absolute;
    top: 0;
    margin-top: auto;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav .nav__menu__item {
    margin: 0 1.5rem;
    font-size: 1rem;
    font-weight: normal;
  }
  .nav .nav__menu__item__link.logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1rem;
    margin-top: auto;
    font-size: 1.5rem;
  }
  .nav .nav__menu__item__link.logo:hover {
    color: white;
  }
  .nav.home {
    background: transparent;
  }
  .home-splash h2 {
    font-size: 5rem;
  }
  .home-splash h3 {
    font-size: 2.5rem;
  }
  .home-splash h4 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }
  footer .social-icons {
    width: 50vw;
  }
  footer .social-icons .fab {
    transform: scale(0.9);
    margin: 0 1rem;
  }
  footer .copy {
    font-size: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 2rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .skills-flex {
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  .skills-tech {
    border-right: 1px solid black;
  }
  .skills-tech .skills-tech__heading {
    font-weight: normal;
  }
  .skills-tech__grid {
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    padding: 0;
    margin-bottom: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card__title {
    font-size: 1.2rem;
  }
  .skills-other .skills-other__heading {
    margin-bottom: 4rem;
    font-weight: normal;
  }
  .skills-other .skills-other__skill {
    font-size: 1.5rem;
  }
  .projects {
    margin-top: 0rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 2rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .project-card .project-card__title {
    font-size: 1.25rem;
  }
  .project-card .project-card__div {
    position: relative;
    width: 100%;
    height: 35vh;
  }
  .project-card .project-card__div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-card .project-card__div div {
    position: absolute;
    top: 72.5%;
    width: 100%;
    height: 8rem;
    background: transparent;
    backdrop-filter: blur(10px);
    filter: brightness(60%);
  }
  .project-card .project-card__div p {
    position: absolute;
    line-height: 1.2;
    top: 75%;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    z-index: 0;
  }
  .project-card .project-card__div p button {
    width: 10rem;
    height: 2.5rem;
    font-size: large;
    margin: 1rem 0.5rem;
  }
  .contact {
    margin-top: 0;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 2rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .contact-grid {
    margin-top: 2rem;
  }
  .contact-card a i {
    transform: scale(1);
  }
  .contact-card i {
    transform: scale(1);
  }
  .contact-card span {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1260px) {
  .nav .nav__menu__item__link.logo {
    margin-right: 40rem;
  }
  .project-grid {
    gap: 1rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .project-card .project-card__div p button {
    width: 15rem;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-nav-bar {
    display: none;
  }
  .nav {
    position: fixed;
    top: 0;
    height: 3.5rem;
    transform: translateY(0);
  }
  .nav .nav__menu__item {
    margin: auto 2.5rem;
    font-size: 1.2rem;
    font-weight: normal;
  }
  .nav .nav__menu__item__link.logo {
    font-size: 1.6;
    margin-top: auto;
  }
  .nav .nav__menu__item__link.logo:hover {
    color: white;
  }
  footer .social-icons .fab {
    transform: scale(1);
    margin: 0 1rem;
  }
  footer .copy {
    font-size: 1.25rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 2.25rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1;
    padding: 0 5rem;
  }
  .skills-flex {
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  .skills-tech {
    border-right: 1px solid black;
  }
  .skills-tech .skills-tech__heading {
    font-weight: normal;
  }
  .skills-tech__grid {
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    padding: 0;
    margin-bottom: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card__title {
    font-size: 1.2rem;
  }
  .skills-other .skills-other__heading {
    margin-bottom: 4rem;
    font-weight: normal;
  }
  .skills-other .skills-other__skill {
    font-size: 1.3rem;
  }
  .projects {
    margin-top: 0rem;
  }
  .projects-heading {
    background: white;
    margin-top: 3rem;
    position: relative;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
  }
  .projects-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  .projects-heading .projects-heading__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
    background: black;
  }
  .projects-heading .projects-heading__info {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1rem;
    text-align: center;
    padding: 0 0.5rem;
    line-height: 1.1;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 2.25rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.1;
    padding: 0 5rem;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 2rem;
  }
  .project-card .project-card__title {
    font-size: 1.25rem;
  }
  .project-card .project-card__div {
    position: relative;
    width: 100%;
    height: 42vh;
  }
  .project-card .project-card__div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-card .project-card__div div {
    position: absolute;
    top: 59%;
    width: 100%;
    height: 8rem;
  }
  .project-card .project-card__div p {
    position: absolute;
    line-height: 1.2;
    top: 62%;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 0 0.3rem;
    z-index: 0;
  }
  .project-card .project-card__div p button {
    width: 15rem;
    height: 2.5rem;
    font-size: large;
    margin: 1rem 0.5rem;
  }
  .contact {
    margin-top: 0;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 2.25rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .contact-grid {
    margin-top: 2rem;
  }
  .contact-card a i {
    transform: scale(1);
  }
  .contact-card i {
    transform: scale(1);
  }
  .contact-card span {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 2560px) and (min-width: 1440px) {
  .nav {
    height: 6rem;
  }
  .nav .nav__menu__item {
    font-size: 2.25rem;
  }
  .nav .nav__menu__item__link.logo {
    margin-top: auto;
    font-size: 2.75rem;
  }
  .home-splash h2 {
    font-size: 12.5rem;
  }
  .home-splash h3 {
    font-size: 3.75rem;
  }
  .home-splash h4 {
    margin-top: 2.25rem;
    font-size: 3.75rem;
    letter-spacing: 0.75rem;
  }
  footer {
    height: 10rem;
  }
  footer .social-icons .fab {
    transform: scale(2);
    margin: 0 3rem;
  }
  footer .copy {
    margin-top: 3rem;
    font-size: 2.5rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 3rem;
  }
  .about-heading .about-heading__info p {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    padding: 0 20rem;
  }
  .skills-flex {
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  .skills-tech {
    border-right: 1px solid black;
  }
  .skills-tech .skills-tech__heading {
    font-size: 2.5rem;
  }
  .skills-tech__grid {
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card i {
    transform: scale(2.5);
    margin-bottom: 7rem;
    padding-top: 3rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    padding: 0;
    margin-bottom: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card__title {
    font-size: 2.1rem;
  }
  .skills-other .skills-other__heading {
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  .skills-other .skills-other__skill {
    font-size: 2.1rem;
  }
  .projects {
    margin-top: 0rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 3rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 2rem;
  }
  .project-card .project-card__title {
    font-size: 2rem;
  }
  .project-card .project-card__div {
    height: 38vh;
  }
  .project-card .project-card__div div {
    top: 69%;
    height: 10rem;
  }
  .project-card .project-card__div p {
    top: 70%;
    font-size: 2rem;
  }
  .project-card .project-card__div p button {
    width: 20rem;
    font-size: 2rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 3rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 2rem;
  }
  .contact-grid {
    margin-top: 2rem;
  }
  .contact-card a i {
    transform: scale(2);
  }
  .contact-card i {
    transform: scale(2);
  }
  .contact-card span {
    padding-top: 0.5rem;
    font-size: 2.25rem;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  background: white;
}

header {
  position: fixed;
  width: 100vw;
  padding: 0.3rem;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */