* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mobile-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

.menu-btn {
  position: absolute;
  margin: 0.2rem;
  top: 1.25rem;
  right: 1rem;
  height: 1rem;
  width: 2rem;
  z-index: 2;
  cursor: pointer;
  background-color: transparent;
}

.menu-btn__burger {
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 0.1rem;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  left: 0;
  top: -0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  height: 0.1rem;
  width: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
}

.menu-btn__burger.open {
  transform: rotate(180deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: translate(0, 0.5rem) rotate(45deg);
}

.menu-btn__burger.open::after {
  transform: translate(0, -0.5rem) rotate(-45deg);
}

.nav {
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  transform: translateY(-100vh);
  opacity: 1;
}

.nav.open {
  transform: translateY(0);
}

.nav .nav__menu {
  margin-top: 2.5rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  line-height: 3;
}

.nav .nav__menu__item {
  font-size: 2.5rem;
  font-weight: 500;
  z-index: 2;
}

.nav .nav__menu__item__link {
  color: rgba(255, 255, 255, 0.5);
}

.nav .nav__menu__item__link.active {
  color: white;
}

.nav .nav__menu__item__link.logo {
  display: none;
}

.home {
  height: 100vh;
  width: 100%;
}

.home-logo {
  transition: all 0.5s ease-in-out;
  position: relative;
  margin: 0 auto;
  top: 35vh;
  display: flex;
  font-size: 5rem;
  font-weight: 500;
  opacity: 0.2;
}

.home-logo.open {
  transform: scale(0);
}

.social-icons {
  transition: all 0.5s ease-in-out;
  position: relative;
  top: 75vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.social-icons a {
  transition: all 0.5s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.social-icons.open {
  transform: scale(0);
}

.social-icons img {
  align-self: center;
  transform: scale(1);
  width: 50%;
  flex-basis: 50%;
  object-fit: cover;
}

.about {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.about-heading {
  background: white;
  padding-top: 3rem;
  position: relative;
  height: 65vh;
  width: 100%;
}

.about-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-heading .about-heading__bg {
  background: transparent;
  position: absolute;
  width: 80%;
  margin: 2.35rem;
  height: 30vh;
  top: 25%;
  backdrop-filter: blur(10px);
  filter: brightness(25%);
}

.about-heading .about-heading__info {
  color: white;
  position: absolute;
  height: 25vh;
  top: 25%;
  width: 80%;
  margin: 2.35rem;
  padding: 1rem;
}

.about-heading .about-heading__info h2 {
  font-size: 1.5rem;
}

.about-heading .about-heading__info p {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

.about-heading .about-heading__bg {
  top: 20%;
}

.about-heading .about-heading__info {
  top: 17%;
}

h2,
h3 {
  text-align: center;
  padding: 0.5rem;
}

.alt-text {
  color: #76f186;
}

.skills-tech {
  margin: 1rem auto;
  width: 90vw;
}

.skills-tech .skills-tech__heading {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.skills-tech__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  z-index: 0;
}

.skills-tech__grid .skills-tech__grid__card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
}

.skills-tech__grid .skills-tech__grid__card i {
  padding: 0.5rem;
}

.skills-tech__grid .skills-tech__grid__card img {
  transform: scale(0.9);
  margin: 0.75rem 0;
  width: 50%;
  object-fit: cover;
}

.skills-other {
  width: 80%;
  margin: 0 auto 1rem auto;
}

.skills-other .skills-other__heading {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  margin-top: 1rem;
}

.skills-other .skills-other__skill {
  margin: 1.5rem auto 0.5rem auto;
  text-align: center;
  font-size: 1.1rem;
}

.projects {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.projects-heading {
  background: white;
  padding-top: 3rem;
  position: relative;
  height: 65vh;
  width: 100%;
}

.projects-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-heading .projects-heading__bg {
  background: transparent;
  position: absolute;
  width: 80%;
  margin: 2.35rem;
  height: 17vh;
  top: 25%;
  backdrop-filter: blur(10px);
  filter: brightness(25%);
}

.projects-heading .projects-heading__info {
  color: white;
  position: absolute;
  height: 25vh;
  top: 25%;
  width: 80%;
  margin: 2.35rem;
  padding: 1rem;
}

.projects-heading .projects-heading__info h2 {
  font-size: 1.5rem;
}

.projects-heading .projects-heading__info p {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

.projects-heading .projects-heading__bg {
  top: 35%;
}

.projects-heading .projects-heading__info {
  top: 32%;
}

.project-grid {
  width: 90%;
  margin: 1rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.5rem;
}

.project-card {
  width: 85vw;
  height: 40vh;
  margin: 0 auto;
}

.project-card .project-card__title {
  margin: 0 auto;
}

.project-card .project-card__div {
  position: relative;
  width: 100%;
  height: 42vh;
}

.project-card .project-card__div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card .project-card__div div {
  position: absolute;
  top: 53%;
  left: 0;
  width: 100%;
  height: 8rem;
  background: transparent;
  backdrop-filter: blur(10px);
  filter: brightness(60%);
}

.project-card .project-card__div p {
  position: absolute;
  line-height: 1.2;
  top: 58%;
  z-index: 2;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  padding: 0 0.5rem;
  z-index: 0;
}

.project-card .project-card__div p button {
  width: 6.5rem;
  height: 2.5rem;
  font-size: large;
  font-weight: bold;
  margin: 0.3rem 0.5rem;
  border: 0;
  background: white;
  color: black;
}

.project-card .project-card__div p button:hover {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 0.5rem #000;
  background: gray;
  color: white;
}

.contact {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.contact-heading {
  background: white;
  padding-top: 3rem;
  position: relative;
  height: 65vh;
  width: 100%;
}

.contact-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-heading .contact-heading__bg {
  background: transparent;
  position: absolute;
  width: 80%;
  margin: 2.35rem;
  height: 15vh;
  top: 25%;
  backdrop-filter: blur(10px);
  filter: brightness(25%);
}

.contact-heading .contact-heading__info {
  color: white;
  position: absolute;
  height: 25vh;
  top: 25%;
  width: 80%;
  margin: 2.35rem;
  padding: 1rem;
}

.contact-heading .contact-heading__info h2 {
  font-size: 1.5rem;
}

.contact-heading .contact-heading__info p {
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

.contact-heading .contact-heading__bg {
  top: 35%;
}

.contact-heading .contact-heading__info {
  top: 32%;
}

.contact-grid {
  width: 90%;
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

.contact-card {
  width: 25vw;
  height: 10vh;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  text-align: center;
}

.contact-card a img {
  transform: scale(0.8);
  width: 85%;
  object-fit: cover;
}

.contact-card img {
  transform: scale(0.8);
  width: 50%;
  object-fit: cover;
}

@media screen and (min-width: 360px) {
  .about-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .about-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-heading .about-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 27vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .about-heading .about-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .about-heading .about-heading__bg {
    top: 28%;
  }
  .about-heading .about-heading__info {
    top: 25%;
  }
  .skills-tech__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(1);
  }
  .projects-heading .projects-heading__bg {
    top: 33.5%;
  }
  .project-card {
    gap: 5rem;
  }
  .project-card .project-card__div {
    height: 36vh;
  }
  .project-card .project-card__div div {
    height: 7.5rem;
    top: 56%;
  }
  .project-card .project-card__div p {
    padding: 0 0.1rem;
  }
  .project-card .project-card__div p button {
    width: 8rem;
  }
}

@media screen and (min-width: 412px) {
  .about-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .about-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-heading .about-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 23vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .about-heading .about-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .about-heading .about-heading__bg {
    top: 27%;
  }
  .about-heading .about-heading__info {
    top: 23%;
  }
  .projects-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .projects-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .projects-heading .projects-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 14vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .projects-heading .projects-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .projects-heading .projects-heading__bg {
    top: 35%;
  }
  .projects-heading .projects-heading__info {
    top: 32%;
  }
  .project-grid {
    gap: 3.5rem;
  }
  .project-card {
    gap: 5rem;
  }
  .project-card .project-card__div div {
    height: 7.25rem;
    top: 58%;
  }
  .project-card .project-card__div p {
    top: 62.5%;
    padding: 0 0.1rem;
  }
  .project-card .project-card__div p button {
    width: 8rem;
  }
  .contact-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .contact-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-heading .contact-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 13vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .contact-heading .contact-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 1.5rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .contact-heading .contact-heading__bg {
    top: 35%;
  }
  .contact-heading .contact-heading__info {
    top: 32%;
  }
}

@media screen and (min-width: 758px) {
  .menu-btn {
    transform: scale(1.25);
    top: 2rem;
    right: 1.5rem;
  }
  .mobile-nav-bar {
    height: 4.25rem;
  }
  .nav {
    font-size: 3rem;
  }
  .nav .nav__menu {
    margin-top: 2rem;
  }
  .social-icons a i {
    transform: scale(1.5);
  }
  .about-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .about-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-heading .about-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 20vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .about-heading .about-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .about-heading .about-heading__bg {
    margin: 7rem 4.75rem;
    top: 20%;
  }
  .about-heading .about-heading__info {
    top: 33%;
    margin: 3rem 5rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
  }
  .skills-tech .skills-tech__heading {
    font-size: 1.5rem;
  }
  .skills-tech__grid {
    padding-top: 1rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    margin-bottom: 0;
  }
  .skills-other .skills-other__heading {
    font-size: 1.75rem;
  }
  .skills-other .skills-other__skill {
    font-size: 1.1rem;
  }
  .projects {
    margin-top: 1rem;
  }
  .projects-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 65vh;
    width: 100%;
  }
  .projects-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .projects-heading .projects-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 13vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .projects-heading .projects-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .projects-heading .projects-heading__bg {
    margin: 5rem 7.5rem;
    top: 30%;
    width: 70%;
  }
  .projects-heading .projects-heading__info {
    top: 35%;
    margin: 3rem 5rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1.1rem;
  }
  .project-grid {
    margin-top: 2.5rem;
    gap: 10rem;
  }
  .project-card .project-card__title {
    font-size: 1.25rem;
  }
  .project-card .project-card__div {
    height: 20rem;
  }
  .project-card .project-card__div div {
    top: 66%;
  }
  .project-card .project-card__div p {
    top: 68%;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.29rem;
  }
  .project-card .project-card__div p button {
    width: 18rem;
    height: 3rem;
    font-size: 1.2rem;
  }
  .contact {
    margin-top: 1rem;
    height: 100vh;
  }
  .contact-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 55vh;
    width: 100%;
  }
  .contact-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-heading .contact-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 15vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .contact-heading .contact-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 1.5rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .contact-heading .contact-heading__bg {
    margin: 7rem 12.5rem;
    width: 50%;
    top: 12.5%;
  }
  .contact-heading .contact-heading__info {
    top: 27.5%;
    margin: 3rem 5rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 1.5rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1.1rem;
  }
  .contact-grid {
    margin-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
  .contact-card i {
    transform: scale(1.5);
    padding: 0.75rem;
  }
  .contact-card a i {
    transform: scale(0.9);
    padding: 0.75rem;
  }
  .contact-card span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-nav-bar {
    display: none;
  }
  .nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    transform: translateY(0);
  }
  .nav .nav__menu {
    position: relative;
    width: 100%;
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav .nav__menu__item {
    margin: 0 1.5rem;
    font-size: 1rem;
    font-weight: normal;
  }
  .nav .nav__menu__item__link.logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1rem;
  }
  .nav .nav__menu__item__link.logo:hover {
    color: white;
  }
  .about-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .about-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-heading .about-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 22.5vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .about-heading .about-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .about-heading .about-heading__bg {
    margin: 2.35rem 7rem;
    top: 35%;
  }
  .about-heading .about-heading__info {
    top: 33%;
    margin: 2.35rem 7rem;
  }
  .about-heading .about-heading__info h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .skills-flex {
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  .skills-tech {
    border-right: 1px solid black;
  }
  .skills-tech .skills-tech__heading {
    font-weight: normal;
  }
  .skills-tech__grid {
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    padding: 0;
    margin-bottom: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card__title {
    font-size: 1.2rem;
  }
  .skills-other .skills-other__heading {
    margin-bottom: 4rem;
    font-weight: normal;
  }
  .skills-other .skills-other__skill {
    font-size: 1.5rem;
  }
  .projects {
    margin-top: 0rem;
  }
  .projects-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .projects-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .projects-heading .projects-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 17vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .projects-heading .projects-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .projects-heading .projects-heading__bg {
    width: 55%;
    margin: 2.35rem 15rem;
    top: 40%;
  }
  .projects-heading .projects-heading__info {
    top: 38%;
    margin: 2.35rem 7rem;
  }
  .projects-heading .projects-heading__info h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .project-card .project-card__title {
    font-size: 1.25rem;
  }
  .project-card .project-card__div {
    position: relative;
    width: 100%;
    height: 35vh;
  }
  .project-card .project-card__div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-card .project-card__div div {
    position: absolute;
    top: 72.5%;
    width: 100%;
    height: 8rem;
    background: transparent;
    backdrop-filter: blur(10px);
    filter: brightness(60%);
  }
  .project-card .project-card__div p {
    position: absolute;
    line-height: 1.2;
    top: 75%;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding: 0 0.5rem;
    z-index: 0;
  }
  .project-card .project-card__div p button {
    width: 10rem;
    height: 2.5rem;
    font-size: large;
    margin: 1rem 0.5rem;
  }
  .contact {
    margin-top: 0;
  }
  .contact-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 60vh;
    width: 100%;
  }
  .contact-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-heading .contact-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 20vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .contact-heading .contact-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 1.5rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .contact-heading .contact-heading__bg {
    width: 42.5%;
    margin: 5rem 20rem;
    top: 20%;
  }
  .contact-heading .contact-heading__info {
    margin: 5rem 7.5rem;
    top: 20%;
  }
  .contact-heading .contact-heading__info h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .contact-grid {
    margin-top: 2rem;
  }
  .contact-card a i {
    transform: scale(1);
  }
  .contact-card i {
    transform: scale(1);
  }
  .contact-card span {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1260px) {
  .nav .nav__menu__item__link.logo {
    margin-right: 40rem;
  }
  .projects-heading .projects-heading__bg {
    width: 42%;
    margin: 2.35rem 23rem;
  }
  .project-grid {
    gap: 2rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 5rem;
  }
  .project-card .project-card__div p button {
    width: 15rem;
  }
  .contact-heading .contact-heading__bg {
    width: 28%;
    margin: 2.35rem 30rem;
    top: 32.5%;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-nav-bar {
    display: none;
  }
  .nav {
    position: fixed;
    top: 0;
    height: 3.5rem;
    transform: translateY(0);
  }
  .nav .nav__menu {
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav .nav__menu__item {
    margin: auto 2.5rem;
    font-size: 1.2rem;
    font-weight: normal;
  }
  .nav .nav__menu__item__link.logo {
    display: inline;
  }
  .nav .nav__menu__item__link.logo:hover {
    color: white;
  }
  .about-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .about-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-heading .about-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 22.5vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .about-heading .about-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .about-heading .about-heading__bg {
    margin: 2.35rem 10rem;
    top: 30%;
  }
  .about-heading .about-heading__info {
    margin: 2.35rem 10rem;
    top: 30%;
  }
  .about-heading .about-heading__info h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1;
  }
  .skills-flex {
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  .skills-tech {
    border-right: 1px solid black;
  }
  .skills-tech .skills-tech__heading {
    font-weight: normal;
  }
  .skills-tech__grid {
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    padding: 0;
    margin-bottom: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card__title {
    font-size: 1.2rem;
  }
  .skills-other .skills-other__heading {
    margin-bottom: 4rem;
    font-weight: normal;
  }
  .skills-other .skills-other__skill {
    font-size: 1.3rem;
  }
  .projects {
    margin-top: 0rem;
  }
  .projects-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .projects-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .projects-heading .projects-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 17vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .projects-heading .projects-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .projects-heading .projects-heading__bg {
    width: 45%;
    margin: 2.35rem 23rem;
    top: 35%;
  }
  .projects-heading .projects-heading__info {
    margin: 2.35rem 7rem;
    top: 33%;
  }
  .projects-heading .projects-heading__info h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .project-card .project-card__title {
    font-size: 1.25rem;
  }
  .project-card .project-card__div {
    position: relative;
    width: 100%;
    height: 42vh;
  }
  .project-card .project-card__div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project-card .project-card__div div {
    position: absolute;
    top: 59%;
    width: 100%;
    height: 8rem;
  }
  .project-card .project-card__div p {
    position: absolute;
    line-height: 1.2;
    top: 62%;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    padding: 0 0.3rem;
    z-index: 0;
  }
  .project-card .project-card__div p button {
    width: 15rem;
    height: 2.5rem;
    font-size: large;
    margin: 1rem 0.5rem;
  }
  .contact {
    margin-top: 0;
  }
  .contact-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .contact-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-heading .contact-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 20vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .contact-heading .contact-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 1.5rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .contact-heading .contact-heading__bg {
    width: 35%;
    margin: 5rem 27rem;
  }
  .contact-heading .contact-heading__info {
    margin: 5rem 7rem;
  }
  .contact-heading .contact-heading__info h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.1;
  }
  .contact-grid {
    margin-top: 2rem;
  }
  .contact-card a i {
    transform: scale(1);
  }
  .contact-card i {
    transform: scale(1);
  }
  .contact-card span {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 2560px) and (min-width: 1440px) {
  .nav {
    height: 6rem;
  }
  .nav .nav__menu__item {
    font-size: 2.25rem;
  }
  .nav .nav__menu__item__link.logo {
    margin: -0.5rem 0 0rem 2rem;
  }
  .about-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .about-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-heading .about-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 20vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .about-heading .about-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .about-heading .about-heading__info h2 {
    font-size: 1.5rem;
  }
  .about-heading .about-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .about-heading .about-heading__bg {
    margin: 5rem 40rem;
    top: 30%;
    width: 50%;
  }
  .about-heading .about-heading__info {
    margin: 2.35rem 40rem;
    top: 35%;
    width: 50%;
  }
  .about-heading .about-heading__info h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .about-heading .about-heading__info p {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
  }
  .skills-flex {
    margin-top: 2rem;
    width: 100%;
    display: flex;
  }
  .skills-tech {
    border-right: 1px solid black;
  }
  .skills-tech .skills-tech__heading {
    font-size: 2.5rem;
  }
  .skills-tech__grid {
    width: 80%;
    margin: 0 auto;
    gap: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card img {
    transform: scale(0.5);
    padding: 0;
    margin-bottom: 0rem;
  }
  .skills-tech__grid .skills-tech__grid__card__title {
    font-size: 2.1rem;
  }
  .skills-other .skills-other__heading {
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  .skills-other .skills-other__skill {
    font-size: 2.1rem;
  }
  .projects {
    margin-top: 0rem;
  }
  .projects-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 80vh;
    width: 100%;
  }
  .projects-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .projects-heading .projects-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 15vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .projects-heading .projects-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 1.5rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .projects-heading .projects-heading__bg {
    width: 40%;
    margin: 2.35rem 50rem;
    top: 42.5%;
  }
  .projects-heading .projects-heading__info {
    margin: 2.35rem 17.5rem;
    top: 43%;
  }
  .projects-heading .projects-heading__info h2 {
    font-size: 3rem;
  }
  .projects-heading .projects-heading__info p {
    font-size: 2rem;
  }
  .project-card .project-card__title {
    font-size: 2rem;
  }
  .project-card .project-card__div {
    height: 38vh;
  }
  .project-card .project-card__div div {
    top: 69%;
    height: 10rem;
  }
  .project-card .project-card__div p {
    top: 70%;
    font-size: 2rem;
  }
  .project-card .project-card__div p button {
    width: 20rem;
    font-size: 2rem;
  }
  .contact-heading {
    background: white;
    padding-top: 3rem;
    position: relative;
    height: 60vh;
    width: 100%;
  }
  .contact-heading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contact-heading .contact-heading__bg {
    background: transparent;
    position: absolute;
    width: 80%;
    margin: 2.35rem;
    height: 13vh;
    top: 25%;
    backdrop-filter: blur(10px);
    filter: brightness(25%);
  }
  .contact-heading .contact-heading__info {
    color: white;
    position: absolute;
    height: 25vh;
    top: 25%;
    width: 80%;
    margin: 2.35rem;
    padding: 1rem;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 1.5rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
  }
  .contact-heading .contact-heading__bg {
    width: 27%;
    margin: 5rem 60rem;
    top: 35%;
  }
  .contact-heading .contact-heading__info {
    margin: 5rem 17.5rem;
    top: 35%;
  }
  .contact-heading .contact-heading__info h2 {
    font-size: 3rem;
  }
  .contact-heading .contact-heading__info p {
    font-size: 2rem;
  }
  .contact-grid {
    margin-top: 2rem;
  }
  .contact-card a i {
    transform: scale(2);
  }
  .contact-card i {
    transform: scale(2);
  }
  .contact-card span {
    padding-top: 0.5rem;
    font-size: 2.25rem;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  background: white;
}

header {
  position: fixed;
  width: 100vw;
  padding: 0.3rem;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */