.about {
  background: set-color("secondary") !important;
}

.section-heading {
  @include section-heading-config(65vh, 30vh, 25vh);
}

h2,
h3 {
  text-align: center;
  padding: 0.5rem;
}

.alt-text {
  color: set-color("alternate");
}

.skills-tech {
  margin: 1rem auto;
  width: 90vw;
  #{&}__heading {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid set-color("primary");
  }
}

.skills-tech__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  z-index: 0;

  #{&}__card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    text-align: center;
    i {
      padding: 0.5rem;
    }

    img {
      transform: scale(0.9);
      margin: 0.75rem 0;
      width: 50%;
      object-fit: cover;
    }
  }
}

.skills-other {
  width: 80%;
  margin: 0 auto 1rem auto;
  #{&}__heading {
    @include sm_heading;
    margin-top: 1rem;
  }
  #{&}__skill {
    margin: 1.5rem auto 0.5rem auto;
    text-align: center;
    font-size: 1.1rem;
  }
}
