@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
$faint-black: rgba($color: #000000, $alpha: 0.75);
$theme_secondary: #1CC71C;
$theme_primary: #080633;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin transition-ease{
    transition: 1s all;
}
@mixin center{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@mixin img-props{
    width: 100%; 
    height:100%; 
    object-fit: cover;
}
@mixin btn{
    background: $faint-black;
    color: white;
    height: 100%; 
    width: 50%; 
    text-align: center;
    margin: 0 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer; 

    &:hover{
        @include transition-ease;
        background: white;
        color: black;
    }
}
@mixin header-style{
    width: 100%; 
    margin: 4.5rem 0 1.5rem 0;
    text-align: center;
    font-size: 2.5rem; 
    .first{
        padding-bottom: 0.5rem;
        border-bottom: 5.5px solid $theme_secondary;
    }
    .last{
        color:$theme_secondary;
        padding-bottom: 0.5rem;
        border-top: 5.5px solid black;
    }
    @include media-tablet{
        font-size: 3.5rem;
    }
}
$tablet: 768px;
$desktop__sm: 1024px;
$desktop__m: 1280px;
$desktop__l: 1440px;

@mixin media-mobile-m {
  @media screen and (min-width: $mobile-m) {
    @content;
  }
}
@mixin media-mobile-l {
  @media screen and (min-width: $mobile-l) {
    @content;
  }
}
@mixin media-mobile-xl {
  @media screen and (min-width: 550px) and (max-width: $mobile-xl) {
    @content;
  }
}
@mixin media-tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin media-desktop__sm {
  @media screen and (min-width: $desktop__sm) {
    @content;
  }
}
@mixin media-desktop__m {
  @media screen and (min-width: $desktop__m) {
    @content;
  }
}

@mixin media-desktop__l {
  @media screen and (min-width: $desktop__l) {
    @content;
  }
}