$colors: (
  "primary": black,
  "secondary": white,
  "grey-1": #858585,
  "grey-2": #979595,
  "alternate": #76f186,
);

@mixin transition-ease {
  transition: all 1s ease-in-out;
}

@function set-color($color) {
  @if $color == "primary" {
    @return map-get($colors, primary);
  } @else if $color == "secondary" {
    @return map-get($colors, secondary);
  } @else if $color == "grey-1" {
    @return map-get($colors, grey-1);
  } @else if $color == "grey-2" {
    @return map-get($colors, grey-2);
  } @else if $color == "alternate" {
    @return map-get($colors, alternate);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
