@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
$faint-black: rgba($color: #000000, $alpha: 0.75);
$theme_secondary: #1CC71C;
$theme_primary: #080633;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin transition-ease{
    transition: 1s all;
}
@mixin center{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

@mixin img-props{
    width: 100%; 
    height:100%; 
    object-fit: cover;
}
@mixin btn{
    background: $faint-black;
    color: white;
    height: 100%; 
    width: 50%; 
    text-align: center;
    margin: 0 0.5rem;
    border-radius: 2rem;
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer; 

    &:hover{
        @include transition-ease;
        background: white;
        color: black;
    }
}
@mixin header-style{
    width: 100%; 
    margin: 4.5rem 0 1.5rem 0;
    text-align: center;
    font-size: 2.5rem; 
    .first{
        padding-bottom: 0.5rem;
        border-bottom: 5.5px solid $theme_secondary;
    }
    .last{
        color:$theme_secondary;
        padding-bottom: 0.5rem;
        border-top: 5.5px solid black;
    }
}
