.home {
  height: 100vh;
  width: 100%;
}
.home-logo {
  @include transition-ease;
  position: relative;
  margin: 0 auto;
  top: 35vh;
  display: flex;
  font-size: 9rem;
  font-weight: 500;
  opacity: 0.2;
  &.open {
    transform: scale(0);
  }
}

.social-icons {
  @include transition-ease;
  position: relative;
  top: 70vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  &.open {
    transform: scale(0);
  }

  img {
    align-self: center;
    transform: scale(1);
    width: 50%;
    flex-basis: 50%;
    object-fit: cover;
  }
}
