.projects {
  padding-top: 0rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.projects-heading {
  @include section-heading-config(65vh, 17vh, 25vh);
  #{&}__bg {
    top: 35%;
  }
  #{&}__info {
    top: 32%;
  }
}

.project-grid {
  width: 90%;
  margin: 1rem auto 5rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.5rem;
}

.project-card {
  width: 85vw;
  height: 40vh;
  margin: 0 auto;

  #{&}__title {
    margin: 0 auto;
  }
  #{&}__div {
    position: relative;
    width: 100%;
    height: 42vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // z-index: 1;
    }
    div {
      position: absolute;
      top: 53%;
      left: 0;
      width: 100%;
      height: 8rem;
      background: transparent;
      backdrop-filter: blur(10px);
      filter: brightness(60%);
      // opacity: 0.5;
      // z-index: 1;
    }
    p {
      position: absolute;
      line-height: 1.2;
      top: 58%;
      z-index: 2;
      text-align: center;
      color: set-color("secondary");
      font-size: 1.1rem;
      padding: 0 0.5rem;
      z-index: 0;
      button {
        width: 6.5rem;
        height: 2.5rem;
        font-size: large;
        font-weight: bold;
        margin: 0.3rem 0.5rem;
        border: 0;
        background: set-color("secondary");
        color: set-color("primary");
        &:hover {
          @include transition-ease;
          cursor: pointer;
          box-shadow: 0 0 0.5rem #000;
          background: lighten(set-color("primary"), 50%);
          color: set-color("secondary");
        }
      }
    }
  }
}
