@import "config", "menu", "home", "about";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  background: linear-gradient(set-color("grey-1"), white) no-repeat;
  width: 100%;
  height: 100vh;
}

header {
  position: fixed;
  width: 100vw;
  padding: 0.3rem;
}

a {
  text-decoration: none;
  color: set-color("primary");
}
