@include media-4k {
  @include media-laptop-l {
    .nav {
      height: 6rem;
      #{&}__menu {
        &__item {
          font-size: 2.25rem;
          &__link {
            &.logo {
              margin-top: auto;
              font-size: 2.75rem;
            }
          }
        }
      }
    }
    .home-splash {
      h2 {
        font-size: 12.5rem;
      }
      h3 {
        font-size: 3.75rem;
      }
      h4 {
        margin-top: 2.25rem;
        font-size: 3.75rem;
        letter-spacing: 0.75rem;
      }
    }
    footer {
      height: 10rem;
      .social-icons {
        .fab {
          transform: scale(2);
          margin: 0 3rem;
        }
      }
      .copy {
        margin-top: 3rem;
        font-size: 2.5rem;
      }
    }
    .about-heading {
      #{&}__info {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
          font-weight: normal;
          line-height: 1;
          padding: 0 20rem;
        }
      }
    }

    .skills-flex {
      margin-top: 2rem;
      width: 100%;
      display: flex;
    }
    .skills-tech {
      border-right: 1px solid set-color("primary");
      #{&}__heading {
        font-size: 2.5rem;
      }
    }
    .skills-tech__grid {
      width: 80%;
      margin: 0 auto;
      gap: 0rem;
      #{&}__card {
        i {
          transform: scale(2.5);
          margin-bottom: 7rem;
          padding-top: 3rem;
        }
        img {
          transform: scale(0.5);
          padding: 0;
          margin-bottom: 0rem;
        }
        &__title {
          font-size: 2.1rem;
        }
      }
    }
    .skills-other {
      #{&}__heading {
        margin-bottom: 5rem;
        font-size: 2.5rem;
      }
      #{&}__skill {
        font-size: 2.1rem;
      }
    }

    .projects {
      margin-top: 0rem;
    }
    .projects-heading {
      #{&}__info {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
        }
      }
    }
    .project-card {
      #{&}__title {
        font-size: 2rem;
      }
      #{&}__div {
        height: 38vh;
        div {
          top: 69%;
          height: 10rem;
        }
        p {
          top: 70%;
          font-size: 2rem;
          button {
            width: 20rem;
            font-size: 2rem;
          }
        }
      }
    }
    .contact-heading {
      #{&}__info {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
        }
      }
    }
    .contact-grid {
      margin-top: 2rem;
    }
    .contact-card {
      a {
        i {
          transform: scale(2);
        }
      }
      i {
        transform: scale(2);
      }
      span {
        padding-top: 0.5rem;
        font-size: 2.25rem;
      }
    }
  }
}
