@include media-laptop-m {
  .nav {
    #{&}__menu {
      &__item {
        &__link {
          &.logo {
            margin-right: 40rem;
          }
        }
      }
    }
  }

  .project-grid {
    gap: 1rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 2.5rem;
    #{&}__div {
      p {
        button {
          width: 15rem;
        }
      }
    }
  }
}
