@include media-laptop-m {
  .nav {
    #{&}__menu {
      &__item {
        &__link {
          &.logo {
            margin-right: 40rem;
          }
        }
      }
    }
  }
  .projects-heading {
    #{&}__bg {
      width: 42%;
      margin: 2.35rem 23rem;
    }
  }
  .project-grid {
    gap: 2rem;
  }
  .project-card {
    width: 100%;
    margin-bottom: 5rem;
    #{&}__div {
      p {
        button {
          width: 15rem;
        }
      }
    }
  }
  .contact-heading {
    #{&}__bg {
      width: 28%;
      margin: 2.35rem 30rem;
      top: 32.5%;
    }
  }
}
