@include media-mobile-m {
  .about-heading {
    #{&}__info {
      p {
        padding: 0 0.7rem;
      }
    }
  }

  .skills-tech__grid {
    grid-template-columns: repeat(3, 1fr);
    #{&}__card {
      img {
        transform: scale(1);
      }
    }
  }

  .projects-heading {
  }
  .project-grid {
    gap: 2rem;
  }
  .project-card {
    height: 50vh;
    margin-bottom: 1rem;
    #{&}__div {
      height: 42vh;
      div {
        height: 7.75rem;
        top: 56%;
      }
      p {
        padding: 0 0.1rem;
        button {
          width: 8rem;
        }
      }
    }
  }
}
