@include media-mobile-l {
  .about-heading {
    #{&}__info {
      p {
        padding: 1rem;
      }
    }
  }
  .project-grid {
    gap: 2rem;
  }
  .project-card {
    #{&}__div {
      div {
        height: 8rem;
        top: 58%;
      }
      p {
        top: 62.5%;
        padding: 0 0.1rem;
        button {
          width: 8rem;
        }
      }
    }
  }
}
