@include media-desktop__sm { 
    .mobile-nav{ 
        display:none; 
    }
    .nav{ 
        
        flex-direction: row; 
        justify-content:flex-end;
        transform: translateX(0);
        height: 3.5rem; 
        background: rgba(255,255,255,0.85);
        -webkit-backdrop-filter: blur(0.2rem);
        backdrop-filter: blur(0.2rem);
        a{ 
            font-size: 1.5rem;
            margin: auto 1rem;
            padding: 0.5rem;
            border: none;
            &:first-child{ 
                display: block; 
                transform: scale(1.5);
                margin-right: auto;
                margin-left: 1.5rem;
            } 
            &:last-child{ 
                margin-right: 1.5rem;
            }
        }
    }
}