body{
    width: 100%;
    height: 100%;
    margin: 0;
    background:-webkit-linear-gradient(left,rgb(184,184,184),rgb(99,99,99));
    display: grid;
  /*  grid-gap: 5px;*/
    grid-template-rows: 0.2fr 3fr 5px 7fr 5px 125px;
    grid-template-columns: 4fr;
    grid-template-areas:
        "nav"
        "header"
        "."
        "article"
        "."
        "footer";
}
header{
    grid-area:header;
    background-color:blue;
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
}
nav{
    grid-area:nav;
    background-color:rgb(71,71,71);
    position:fixed;
    top:0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 0;

}
nav div:first-child{
    margin-right: auto;
}
nav div{

margin-top: 13px;

}
nav div a{
    padding: 5px;
    margin: 5px;
    border: 0.2px solid lightgray;
    color:lightgrey;
    text-decoration: none;
    font-size: large;
}
nav div a:hover{
    background-color: lightgrey;
    color: black;
}
#sideNav{
    height: 100%;
    width: 100%;
    background-color: rgb(71,71,71);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    visibility: hidden;
}
#sideNav div a{
    display: block;
    padding:5px;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:lightgrey;
    text-decoration: none;
    font-size: large;
}
#sideNav div a:hover{
    background-color: lightgrey;
    color: black;
}
#sideNav div:first-child a{
    position: relative;
    right: -92%;
    font-size: 15pt;
}
#openSideNav{
    position: fixed;
    top: 0;
    right: 2%;
    visibility: hidden;
}
article{
    grid-area:article;
   /* background-color:aqua;*/
    margin: 25px;
}
.subTitle{
    text-align: center;
}
.articleSubSection{
    background-color: rgba(245,245,245,0.7);
    padding: 5px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 5px 2px black;
}
footer{
    grid-area:footer;
    background-color:rgb(59,59,59);
    color:lightgrey;
    text-align: center;
}

#socials{
    display: flex;
    justify-content: center;
}
#socials div a img{
    width:20px;
    height:20px;
    margin: 5px;
}

@media screen and (max-width:750px){
    body{
        grid-template-rows: 0.3fr 1fr 5px 8fr 5px 0.5fr;
        grid-template-columns:6fr;
        grid-template-areas:
                "nav"
                "header"
                "."
                "article"
                "."
                "footer";
    }
    nav div{
        display: none;
    }
    nav div:first-child{
        display: inline;
    }
    #openSideNav{
        visibility: visible;
    }

}
