
@font-face {
    font-family: Spartan;
    src:url('SpartanMB-Regular.otf');
}
body{
    font-family: Spartan,sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background:-webkit-linear-gradient(left,rgb(184,184,184),rgb(99,99,99));
    display: grid;
  /*  grid-gap: 5px;*/
    grid-template-rows: 0.5fr 2fr 5px 7fr 125px;
    grid-template-columns: 5fr;
    grid-template-areas:
        "nav"
        "header"
        "."
        "article"
        "footer";
}
header{
    grid-area:header;
    background: url("code_bg.jpg") no-repeat;
    background-size:cover;
    margin-top:5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header div img{
    height: 250px;
    width: 250px;
    border-radius: 50%;

}
header div{
    margin: 5%;
}
header div:first-child{
    text-align: center;
    margin: 1%;

}
header div:last-child{
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right:15%;
}
nav{
    grid-area:nav;
    background-color:rgba(71,71,71,0.7);
    position:fixed;
    top:0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 0;

}
nav div:first-child{
    margin-right: auto;
}
nav div{

margin-top: 13px;

}
nav div a{
    padding: 5px;
    margin: 5px;
    border: 0.2px solid lightgray;
    color:lightgrey;
    text-decoration: none;
    font-size: large;
}
nav div:first-child a{
    border: 0;
    font-weight: bolder;
}

nav div:first-child a:hover{
  background:none;
}
nav div a:hover{
    background-color: lightgrey;
    color: black;
}
#sideNav{
    height: 100%;
    width: 0;
    background-color: rgb(71,71,71);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
#sideNav div{
    padding:5px;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:lightgrey;
    font-size: large;
}
#sideNav div:hover{
    background-color: lightgrey;
    color: black;
    cursor: pointer;
}
#navX{
    position: relative;
    right: -95%;
    font-size: 15pt;
}
#navX:hover{
    cursor: pointer;
    background-color: lightgrey;
}
#openSideNav{
    position: fixed;
    top: 0.5%;
    right: 2%;
    visibility: hidden;
}
article{
    grid-area:article;
   /* background-color:aqua;*/
    margin: 25px;
}
.subTitle{
    text-align: center;
}
.articleSubSection{
    background-color: rgba(245,245,245,0.7);
    padding: 15px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 10px 10px 5px 2px black;
    text-align: justify;
}
#skillsContainer{
    display: flex;
    justify-content: space-between;
}
table{
    border-collapse: collapse;
}
.tableHeading{
    background-color:rgb(0,205,205);
    text-align: center;
}
td{
    text-align: center;
}
td:hover{
    cursor: pointer;
    font-weight: bold;
}

footer{
    grid-area:footer;
    background-color:rgb(59,59,59);
    color:lightgrey;
    text-align: center;
}

#socials{
    display: flex;
    justify-content: center;
}
#socials div a img{
    width:20px;
    height:20px;
    margin: 5px;
}

@media screen and (max-width:750px){
    body{
        grid-template-rows: 0.3fr 0.7fr 5px 6fr 0.5fr;
        grid-template-columns:4fr;
        grid-template-areas:
                "nav"
                "header"
                "."
                "article"
                "footer";
    }
    header div img{
        height: 150px;
        width: 150px;
        border-radius: 50%;

    }
    .articleSubSection{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    nav div{
        display: none;
    }
    nav div:first-child{
        display: inline;
    }
    #openSideNav{
        visibility: visible;
    }
    #skillsContainer{
        flex-direction: column;
    }
    #skillsContainer div{
        align-self: center;
        margin-bottom: 5px;
    }

}
